* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
}

.container {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
    grid-template-rows: 10vh 10vh 20vh;
    grid-template-areas: 
    "header1 header1 header1 header1 header1"
    "nav1 nav2 nav3 nav4 nav5"
    "main1 main1 main2 main2 main2";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.header1 {
    grid-area: header1;
    text-align: center;
    background-color: #5eb399;
}

.hp {
    grid-area: nav1;
}

.hp a {
    text-decoration: none;
    color: black;
}

.mem {
    grid-area: nav2;
}

.mem a {
    text-decoration: none;
    color: black;
}

.exp {
    grid-area: nav3;
}

.exp a {
    text-decoration: none;
    color: black;
}

.ftr {
    grid-area: nav4;
}

.ftr a {
    text-decoration: none;
    color: black;
}

.pri {
    grid-area: nav5;
}

.pri a {
    text-decoration: none;
    color: black;
}

.group_pri {
    grid-area: main1;
    background-color: #5eb399;
}

.individual_pri {
    grid-area: main2;
    background-color: #5eb399;
}